/* Styles for the top bar */

/* The box that holds the button and input */
#formbox {
  padding: 10px;
  display: block;
  overflow: hidden;

  /* Position */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;

  /* Appearance */
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 4px -2px #ccc;
  -webkit-backdrop-filter: blur(5px); /* Blur behind bar */
}

/* The buttons */
#formbox button[type=button] {
  /* Color */
  color: #666;
  background-color: #fff;

  /* Border */
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;

  /* Other */
  padding: 5px;
  margin: 2px;
  font-size: 18px;
}

#formbox > button[type=button] {
  float: right;
  height: 33px;
}

#random {
  width: 33px;
}
