/* The group of buttons that lives in the bottom right */
.button-container {
  position: fixed;
  bottom: 8px;
  right: 8px;
  width: 40px;

  z-index: 2;
  border-radius: 7px;
  overflow: visible;
  border: 1px solid #aaa;
}

.button-container button {
  display: block;
  width: 100%;
  height: 40px;
  padding: 5px;
  margin: 0;

  background-color: transparent;
  border: none;
  border-top: 1px solid #aaa;
}

.button-container button:first-of-type {
  border-top: none;
}
