* {
  box-sizing: border-box;
}

.commafield {
  display: flex;
  flex-wrap: wrap;

  overflow: hidden;
  height: 33px;
  padding: 3px;
  margin: 0;

  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.commafield input {
  font-size: 1em;

  /* Kill default styles */
  outline: none;
  border: none;
  box-shadow: none;
  -webkit-appearance: none;
  background-color: transparent;

  /* Layout */
  margin: 2px 5px 3px 0;
  padding: 0 5px;
  flex: 2;
  height: 85%;
}

.item {
  float: left;

  background-color: rgba(220, 220, 220, 0.6);
  font-size: 1em;

  padding: 1px 5px 2px 5px;
  margin: 2px 5px 3px 0;

  flex: 0 1 auto;
  height: 85%;
  line-height: 130%;

  cursor: pointer;

  transition: background-color 0.3s ease-in-out;
}

.item::after {
  font-family: Ionicons;
  /* Font styles */
  font-size: 90%;
  line-height: 0;
  vertical-align: 10%; /* This is about right for centering */
  color: #ec725d;
  font-weight: bold;
}
.item:hover::after {
  content: "\f12a";
  /* Add a close button */
  padding-left: 5px;
}
.item:hover {
  background-color: rgba(255, 200, 200, 0.6);
}
