* {
  box-sizing: border-box;
}

.commafield {
  display: flex;
  flex-wrap: wrap;

  overflow: hidden;
  height: 33px;
  padding: 3px;
  margin: 0;

  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.commafield input {
  font-size: 1em;

  /* Kill default styles */
  outline: none;
  border: none;
  box-shadow: none;
  -webkit-appearance: none;
  background-color: transparent;

  /* Layout */
  margin: 2px 5px 3px 0;
  padding: 0 5px;
  flex: 2;
  height: 85%;
}

.item {
  float: left;

  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #ddd;
  font-size: 1em;

  padding: 0 5px;
  margin: 2px 5px 3px 0;

  flex: 0 1 auto;
  height: 85%;

  cursor: pointer;

  transition: all 0.1s ease-in-out;
}

.item::after {
  /* Add a close button */
  content: "x";
  padding-left: 5px;

  /* Font styles */
  font-size: 75%;
  vertical-align: 10%; /* This is about right for centering */
  color: #ec725d;
  font-weight: bold;
}

.item:hover {
  background-color: #fff;
}

.item:hover::after {
  color: #f00;
}
