.progressbar {
  width: 50vw;
  height: 30px;
  margin: 10px 0;
  background-color: #eee;
}

.progressbar-indicator {
  background-color: #55acee;
  height: 100%;
  transition: background-color 0.2s ease-in-out;
}
.progressbar-indicator:hover {
  background-color: #6cb7f0;
}

.progressbar-label {
  font-size: 20px;
  text-align: right;
  width: 100%;
}
.progressbar-label::after {
  content: "%";
}
