/* == GLOBAL STYLES == */
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  /* Get rid of the default font for everything */
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

code {
  background-color: #eee;
  padding: 1px 5px;
}

button[type=button]:active {
  background-color: #f0f0f0;
}

/* == Class for making divs strech the full screen == */
.fullscreen {
  /* Same size as window */
  width: 100vw;
  height: 100vh;

  /* No space from top corner */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

/* Container for the info initially presented to the user */
#info {
  margin: 73px 13px 0 13px;
  max-width: 450px;
  padding: 25px;

  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Rules for small screens */

@media (max-width: 750px) { /* Full width on small screens (namely iPhones) */
  #info {
    max-width: 100%;
  }
}

@media (max-height: 400px) { /* Hide text on iPhones in portrait to prevent button from being cut off */
  #info p {
    display: none;
  }
}
