/* == GLOBAL STYLES == */
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  font-weight: 300;
}

p, h1, button {
  color: #555; /* Slightly less harsh than a black */
}

.icon {
  font-size: 20px;
  color: #333 !important; /* No idea why !important is necessary, but it is. */
}

code {
  background-color: #eee;
  padding: 1px 5px;
}

button[type=button]:active {
  background-color: #f0f0f0;
}


/* == HELPER CLASSES == */

/* Class for making semitransparent elements with a blur behind them */
.transparent-blur {
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px); /* Blur behind bar */
}

/* == Class for making divs strech the full screen == */
.fullscreen {
  /* Same size as window */
  width: 100vw;
  height: 100vh;

  /* No space from top corner */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
