/* == GLOBAL STYLES == */
* {
  overflow:hidden; /* Nothing should scroll unless specified otherwise */
}



/* == THE NETWORK == */
#container {
  /* Same size as window */
  width: 100vw;
  height: 100vh;
  /* No space from top corner */
  position:absolute;
  top:0;
  left:0;
  z-index:0;
}



/* == TOP CONTROLS == */
/* The box that holds the button and input */
#formbox {
  padding: 10px;
  /* Position */
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  /* Appearance */
  background:rgba(255,255,255,0.5);
  border-bottom: 1px solid #ccc;
  -webkit-backdrop-filter: blur(5px); /* Blur behind bar */
}

/* The input box */
input[type=text] {
  /* Border */
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* Other */
  padding: 5px;
  font-size:18px;
  -webkit-appearance: none;
}

/* The buttons */
button[type=button] {
  /* Color */
  color: #666;
  background-color: #fff;
  /* Border */
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* Other */
  padding: 5px;
  font-size:18px;
}
button[type=button]:active {
  background-color: #f5f5f5;
}
/* The about button should be pinned to the right side of the bar */
#about {
  float: right;
  margin-right: 15px;
}


/* == MODAL HELP POPUP == */
/* The modal about popup */
.modal {
  /* Positioning */
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* Initially hide */
  display: none;
  /* Appearance */
  background-color: rgba(0,0,0,0.2);
}

.modal-content {
  /* Positioning */
  margin: 0 auto;
  margin-top: 10vh;
  padding: 20px;
  width: 50vw;
  height: 75vh;
  /* Allow scrolling */
  overflow-y: auto;
  overflow-x: hidden;
  /* Appearance */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
}
