/* Contains for the info initially presented to the user */
#info {
  max-width: 440px;
  text-align: center;

  position: absolute;
  padding: 30px 45px 35px;
  background: rgba(0, 0, 80, 0.04);
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#info h1 {
  margin: 0;
  position: relative;
}

#info p {
  margin: .65em 0 1.25em;
}


/* == Rules for small screens == */

@media (max-width: 750px) { /* Full width on small screens (namely iPhones) */
  #info {
    max-width: 100%;
    display: block;
    text-align: left;
  }
}

@media (max-height: 400px) { /* Hide text on iPhones in portrait to prevent button from being cut off */
  #info p {
    display: none;
  }
}
