/* The network */
#container {
  /* Same size as window */
  width: 100vw;
  height: 100vh;
  /* No space from top corner */
  position:absolute;
  top:0;
  left:0;
  z-index:0;
}


/* The input box */
input[type=text] {
  /* Position */
  position: absolute;
  top:20;
  left:20;
  z-index:1;
  font-size:18px;
  /* Border */
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* Other */
  padding: 5px;
}

input[type=text]:focus {

}
