/* The network */
#container {
  width: 100vw;
  height: 100vh;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
}

/* The input box */
#pageName {
  /* Stay above the network, floating */
  position: absolute;
  top:20;
  left:20;
  z-index:1;
  /* Visual styles */
  display: block;
  border: solid 1px #ededed;
  border-bottom: solid 3px #c9c9c9;
  outline: none;
  font-size: 18px;
  /* The underline fades in */
  -webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
}
#pageName:focus {
  border-bottom: solid 3px #969696;
}
