/* The network */
#container {
  /* Same size as window */
  width: 100vw;
  height: 100vh;
  /* No space from top corner */
  position:absolute;
  top:0;
  left:0;
  z-index:0;
}


/* The input box */
input[type=text] {
  /* Border */
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* Other */
  padding: 5px;
  font-size:18px;
  -webkit-appearance: none;
}

/* The submit button */
button[type=button] {
  /* Color */
  color: #666;
  background-color: #fff;
  /* Border */
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* Other */
  padding: 5px;
  font-size:18px;

}
button[type=button]:active {
  background-color: #f5f5f5;
}

/* The box that holds the button and input */
#formbox {
  padding: 10px;
  /* Position */
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  /* Appearance */
  background:rgba(255,255,255,0.5);
  border-bottom: 1px solid #ccc;
}
